body{
    background-image: url('../css/imgs/dash_inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
header{
    position: fixed;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    z-index: 2;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    margin-top: -8px;
    margin-left: -8px;
}

.menus_header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 120px;
}

.navbar {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.navbar a:hover {
    color: #696767;
    transition: color 0.7s ease;
}

.txt_inicial{
    padding-top: 150px;
    padding-left: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: #000 0.5px 0.5px 0.5px;;
}
h2{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
}

h1{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
}

#botao {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #200f23, #736876);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
  }
  
  /* Hover animation */
  #botao:hover {
    background: linear-gradient(to bottom, #321936, #7f6f84);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  
  /* Click animation */
  #botao:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }