body{
    background-color: #000000;
    height: 550px;
}

h3{
    font-weight: 500;
    font-size: 20px;
}

input {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
}

.alinha_logo{
padding-right: 10px;
    
}

.login{
    display: flex;
}

.logo_superior{
    display: flex;
    width: 100px;
    height: 100px;
}

main {
    padding-top: 50px;
}

.conteudo_home {
    height: 650px;
    display: flex;
    padding-top: 50px;
}

.img_lateral{
    background-image: url('../assets/imgs/yvi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 744px;
    margin-top: -60px;
    margin-left: -10px;
}

.texto_login{
    display: flex;
    padding-top: 50px;
    padding-left: 95px;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    height: 100%;
    margin: 0;
}


.container {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 280px;
  }
  
  .heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    margin: 10px;
  }
  
  .inputIcon {
    position: absolute;
    left: 3px;
    width: 16px;
    height: 16px;
  }
  
  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(230, 82, 82);
  }
  
  .inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
  }
  
  #button {
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(2, 1, 2);
    height: 40px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
  }
  
  #button:hover {
    background-color: #d50808;
  }
.frase{
    color: #000000;
    font-family:sans-serif;
    font-size:x-small;
  }
  .frase:hover{
    color: #d50808;
    font-family:sans-serif;
    font-size:x-small;
  } 
  .frase a{
        text-decoration: none;
        color: #000000;
  }

  a{
    text-decoration: none;
    color: #ffffff;
  }
  b{
    font-family:sans-serif;
    font-size:x-small;
  }
  
  