body{
    background-image: url('../imgs/loona_teste.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h3{
    font-weight: 500;
    font-size: 20px;
}

input {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
}

button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #f64bd1;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: #ff6fff;
    box-shadow: 0 0 20px #ff6fff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #e087c1;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

.titulo{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.logo_superior{
    display: flex;
    width: 100px;
    height: 100px;
}

.container{
    background-color: rgba(255, 255, 255, 0.772);
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.img_login{
    border-radius: 30px;
    width: 500px;
    height: 500px;
}

.texto_login{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    height: 100%;
    margin: 0;
}

.groupo {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    max-width: 200px;
  }
  
  .input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 1rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
  }
  
  .input::placeholder {
    color: #979097;
  }
  
  .input:focus, input:hover {
    outline: none;
    border-color: rgb(255, 199, 243);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(248, 129, 246, 0.3);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
  }